# requirements.txt

## 026.Py2Pyc2Pyo
pip install Cython

## 032.Test_Mrjob_MapReduce
pip install mrjob

## 036.PyCrawler_Spiget
pip install gevent requests pyquery redis

## 039.Test_qiskit_QuantumCal
pip install qiskit

## 040.WxpythonDemo
pip install -U  -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04 wxpython

## 041.Test_Pygame
pip install pygame

## 049.TestWget
pip install re
pip install request

## 050.TestTF_Data_MNIST
pip install tensorflow

## 056.Test_MyQR
pip install myqr zxing

## 057.Test_wget
pip install wget

## 058.Test_wordcloud_in
pip install wordcloud

## 059.Test_watch_fits
pip install astropy

# 061.Test_selenium_WebAuto
pip install selenium

# 062.Test_list_pickle_gzip
pip install pickle gzip

# 070.YAPF_PEP8.py
pip install yapf

# 074.Test_Pycuda
pip install pycuda

# 075.Test_pydb2
pip install ibm_db, ibm_db_dbi, ibm_db_sa, pandas, sqlalchemy

# 077.Test_BeeWare
pip install briefcase

# 078.Test_PlaywrightPy
pip install playwright

# 080.MLTools
pip install sklearn pandas numpy matplotlib gevent

# 082.Test_guietta
pip install guietta --no-deps
pip install pyqt5

# 083.Test_EasyDB
pip install easydbio

# 086.Test_termgraph
pip install termgraph

# 088.Test_snowy
pip install snowy

# 089.Test_numba
pip install numba

# 090.Test_gping
pip install pinggraph

# 091.Test_xonsh
pip install xonsh

# 092.Test_pgmpy_bayesian-networks
pip install pgmpy

# 093.Test_dlib_Byuser_DSW
pip install dlib

# 094.Test_PySimpleGUI
pip install PySimpleGUI

# 097.Test_pypdf_camelot
pip install camelot-py[cv]

# 098.Test_Pydub
pip install pydub

# 104.Test_Pinyin_python
pip install pypinyin

# 105.Test_LevenshteinDistance
pip install python_Levenshtein

# 106.Test_cutecharts
pip install cutecharts

# 107.JanusGraph_Gremlin_Python
pip install gremlinpython==3.4.6

# 111.Test_PrettyErrors
pip install pretty_errors

# 113.Test_DecisionTreeClassifier_var_update
# pip install pydotplus
# pip install graphviz

# 114.Test_PyArmadillo
pip install pyarma

# 115.Test_Arrow_Pydatetime
pip install arrow

# 117.Termcolor
pip install termcolor

# 118.Test_Pyomo
pip install pyomo

# 119.Test_Modin
pip install modin[dask]

# 120.TestManim
pip install manim

# 123.Test_pyperformance_pythonV
pip install pyperformance

# 124.Test_Mistune
pip install mistune

# 125.Emoji
pip install emoji
