<?xml version="1.0"?>
<?define ProductVersion = "0.0.1" ?>
<?define ProductUpgradeCode = "93bbf2ae-12d0-580c-aeb0-965dc4c04b69" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product
            Id="*"
            UpgradeCode="$(var.ProductUpgradeCode)"
            Name="Hello World"
            Version="$(var.ProductVersion)"
            Manufacturer="Jane Developer"
            Language="1033">
        <Package
                InstallerVersion="200"
                Compressed="yes"
                Comments="Windows Installer Package"
        />

        <Property Id="ALLUSERS" Value="2" />
        <Property Id="MSIINSTALLPERUSER" Value="1" />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

        <Icon Id="ProductIcon" SourceFile="helloworld.ico" />

        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPURLINFOABOUT" Value="https://example.com/helloworld" />
        
        <Property Id="ARPCONTACT" Value="jane@example.com" />
        
        <Property Id="ARPNOREPAIR" Value="1" />
        <Property Id="ARPNOMODIFY" Value="1" />

        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion
                    Minimum="$(var.ProductVersion)"
                    OnlyDetect="yes"
                    Property="NEWERVERSIONDETECTED"
            />
            <UpgradeVersion
                    Minimum="0.0.0"
                    Maximum="$(var.ProductVersion)"
                    IncludeMinimum="yes"
                    IncludeMaximum="no"
                    Property="OLDERVERSIONBEINGUPGRADED"
            />
        </Upgrade>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="helloworld_ROOTDIR" Name="Hello World" />
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuSubfolder" Name="Hello World">
                    <Component
                            Id="ApplicationShortcuts"
                            Guid="*">
                        <Shortcut
                                Id="ApplicationShortcut1"
                                Name="Hello World"
                                Icon="ProductIcon"
                                Description="My first application"
                                Target="[helloworld_ROOTDIR]python\pythonw.exe"
                                WorkingDirectory="helloworld_ROOTDIR"
                                Arguments="-m helloworld" />
                        <RegistryValue
                                Root="HKCU"
                                Key="Software\Jane Developer\Hello World"
                                Name="installed"
                                Type="integer"
                                Value="1"
                                KeyPath="yes" />
                        <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate"/>
        </InstallExecuteSequence>

        <Feature Id="DefaultFeature" Level="1">
            <ComponentGroupRef Id="helloworld_COMPONENTS" />
            <ComponentRef Id="ApplicationShortcuts"/>
        </Feature>

        <UI Id="UserInterface">
          <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
          <Property Id="WixUI_Mode" Value="Custom" />

          <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
          <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
          <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

          <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

          <DialogRef Id="ProgressDlg" />
          <DialogRef Id="ErrorDlg" />
          <DialogRef Id="FilesInUse" />
          <DialogRef Id="FatalError" />
          <DialogRef Id="UserExit" />

          <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
          <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

        </UI>

        <UIRef Id="WixUI_Common" />
    </Product>
</Wix>
